OPENAI_API_KEY=
TAVILY_API_KEY=
MONGO_URI=
CHAINLIT_AUTH_SECRET=
PUBLIC_BUCKET=
USERS_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
CLOUDFLARE_ENDPOINT=
GITHUB_PERSONAL_ACCESS_TOKEN=
CDN_BASE_URL=
CHAINLIT_ROOT_PATH=
OAUTH_GOOGLE_CLIENT_SECRET=
OAUTH_GOOGLE_CLIENT_ID=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_TEST_TOKEN=